<div  class="home-section-wrap">
    <div class="home-section">
        <p class="home-content">
            "Welcome to Home Cook! Explore our chef-crafted courses, find inspiration, and contact us to start your culinary journey. Soon, you'll be cooking like a pro from the comfort of your own kitchen. Join us today!"
        </p>
    </div>
</div>